..

.. raw:: pdf

   PageBreak oneColumn

:version: 0.0.0

.. image:: cc.svg

Este libro está disponible bajo una licencia CC-by-nc-sa-2.5.

Es decir que:

**Usted es libre de:**

.. image:: share.svg

copiar, distribuir, exhibir, y ejecutar la obra

.. image:: remix.svg

hacer obras derivadas

**Bajo las siguientes condiciones:**

.. image:: by.svg

Atribución — Usted debe atribuir la obra en la forma especificada por el autor o el licenciante.

.. image:: nc.svg

No Comercial — Usted no puede usar esta obra con fines comerciales.

.. image:: sa.svg

Compartir Obras Derivadas Igual — Si usted altera, transforma, o crea sobre esta obra, sólo podrá distribuir la obra derivada resultante bajo una licencia idéntica a ésta.

El texto completo de la licencia está en el apéndice "LICENCIA" al final del libro.

-------------

La "solpiente" fue creada por Pablo Ziliani, y licenciada bajo una licencia CC-by-sa-2.5, más detalles en http://creativecommons.org/licenses/by-sa/2.5/ar/

.. raw:: pdf

   PageBreak oneColumn

