.. class:: title

Python No Muerde

.. class:: subtitle

Capítulo: #{title}

.. class:: cctable

+------------------------+------------------------------------------------+
|.. image:: cc.svg.pdf   |Este libro está disponible bajo una licencia    |
|                        |CC-by-nc-sa-2.5.                                |
+------------------------+------------------------------------------------+

**Es decir que usted es libre de:**

.. class:: cctable

+------------------------+------------------------------------------------+
|.. image:: share.svg.pdf|Copiar, distribuir, exhibir, y ejecutar la obra |
+------------------------+------------------------------------------------+
|.. image:: remix.svg.pdf|Hacer obras derivadas                           |
+------------------------+------------------------------------------------+

**Bajo las siguientes condiciones:**

.. class:: cctable

+------------------------+------------------------------------------------+
|.. image:: by.svg.pdf   |Atribución — Usted debe atribuir la obra en la  |
|                        |forma especificada por el autor o el            |
|                        |licenciante.                                    |
+------------------------+------------------------------------------------+
|.. image:: nc.svg.pdf   |No Comercial — Usted no puede usar esta obra con|
|                        |fines comerciales.                              |
+------------------------+------------------------------------------------+
|.. image:: sa.svg.pdf   |Compartir Obras Derivadas Igual — Si usted      |
|                        |altera, transforma, o crea sobre esta obra,     |
|                        |sólo podrá distribuir la obra derivada          |
|                        |resultante bajo una licencia idéntica a ésta.   |
+------------------------+------------------------------------------------+

El texto completo de la licencia está en el sitio de `creative commons 
<http://creativecommons.org/licenses/by/2.5/ar/legalcode>`_.


.. raw:: pdf

   PageBreak oneColumn

